{% extends 'base/main.html' %}

{% block title %}
Создание статьи
{% endblock %}

{% block body %}
<div class="alert alert-success">
    <h2 align = "center">Редактирование статьи</h2>
    <form method="post">
        <input type="text" name="title" id = "title" value = "{{ article.title }}" class="form-control" placeholder="Заголовок статьи"><br>
        <input type="text" name="tag" id = "tag" value = "{{ article.tag }}" class="form-control" placeholder="Категория"><br>
        <input type="text" name="author" id = "author" value = "{{ article.author }}" class="form-control" placeholder="Автор статьи"><br>
        <textarea type="text" name="intro" id = "intro" class="form-control" placeholder="Краткая аннотация к статье">{{ article.intro }}</textarea><br>
        <textarea type="text" name = "text" id = "text" class="form-control" placeholder="Текст статьи">{{ article.text }}</textarea> <br>
        <input type="submit" class="btn btn-success" value="Обновить"> 
        <a href="/{{article.id}}" class="btn btn-danger">Отменить</a> 
    </form>
    </div>
{% endblock %}